<div class="w-full max-w-[800px] mx-auto mt-2 p-8 bg-[#e7e7e7]">
  <h1 class="text-2xl mb-4 font-semibold text-center">
    Thêm một thông tin sách
  </h1>

  <form
    [formGroup]="formBook"
    (ngSubmit)="onHandleSubmit()"
    class="rounded pt-6 pb-8 mb-4 grid grid-cols-2 gap-4"
  >
    <div class="mb-4">
      <label for="name" class="block text-gray-700 text-sm font-bold mb-2"
        >Tên sản phẩm <strong class="text-red-500">*</strong></label
      >
      <input
        type="text"
        id="name"
        placeholder="Tên sản phẩm..."
        formControlName="name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <div class="mb-4">
      <label for="base_url" class="block text-gray-700 text-sm font-bold mb-2"
        >Danh mục sách <strong class="text-red-500">*</strong>
      </label>
      <select
        id="base_url"
        type="text"
        formControlName="category_id"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
        <option [ngValue]="1" selected="true">-- Chọn một danh mục --</option>
        <option
          *ngFor="let category of categories; let index = index"
          value="{{ category._id }}"
        >
          {{ category.name }}
        </option>
      </select>
    </div>

    <!-- Avatar -->
    <div class="mb-4">
      <label for="categoryId" class="block text-gray-700 text-sm font-bold mb-2"
        >Avatar <strong class="text-red-500">*</strong></label
      >
      <div class="block" title="Tên dịch vụ">
        <div class="mt-1 flex">
          <div
            class="bg-white relative flex border border-dashed w-[210px] h-[210px] border-[#ccc] cursor-pointer hover:bg-gray-300 bg-cover bg-center"
            style="background-image: url('{{ avatar }}')"
          >
            <div
              class="absolute top-1/2 left-0 right-0 -translate-y-1/2 text-center"
            >
              Mời chọn ảnh dịch vụ
              <p>
                <i class="text-red-500 text-xl bx bx-plus"></i>
              </p>
            </div>

            <label
              for="avatar-service"
              class="z-10 block w-full h-full cursor-pointer hover:bg-gray-300"
            ></label>
            <input
              type="file"
              id="avatar-service"
              (change)="handleChange($event)"
              hidden
              class="avatar-upload-service"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <label
        for="description"
        class="block text-gray-700 text-sm font-bold mb-2"
        >description</label
      >
      <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
      <ngx-editor
        [editor]="editor"
        [placeholder]="'Type here...'"
        formControlName="description"
      ></ngx-editor>
    </div>

    <div class="mb-4">
      <label for="price" class="block text-gray-700 text-sm font-bold mb-2"
        >Giá hiện tại</label
      >
      <input
        type="number"
        id="price"
        formControlName="price"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <div class="mb-4">
      <label
        for="original_price"
        class="block text-gray-700 text-sm font-bold mb-2"
        >Giá cũ</label
      >
      <input
        type="number"
        id="original_price"
        formControlName="original_price"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <div class="mb-4">
      <label
        for="original_price"
        class="block text-gray-700 text-sm font-bold mb-2"
        >Số lượng trong kho <strong class="text-red-500">*</strong></label
      >
      <input
        type="number"
        formControlName="quantity"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <div class="mb-4">
      <label
        for="original_price"
        class="block text-gray-700 text-sm font-bold mb-2"
        >Các hình ảnh khác</label
      >
      <input
        type="file"
        formControlName="images"
        (change)="handleUploadMultipleImage($event)"
        multiple
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <div class="mb-4">
      <label
        for="original_price"
        class="block text-gray-700 text-sm font-bold mb-2"
        >Tác giả cuốn sách <strong class="text-red-500">*</strong></label
      >
      <input
        type="text"
        id="author"
        formControlName="author"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <div class=""></div>
    <div class="mb-4 flex justify-end">
      <button
        class="px-4 py-1 bg-[#d37a3f] text-white rounded-md hover:opacity-90"
      >
        Trở lại
      </button>
      <button
        type="submit"
        class="ml-6 px-4 py-1 bg-[#33bd61] text-white rounded-md hover:opacity-90"
      >
        Thêm một cuốn sách mới
      </button>
    </div>
  </form>
</div>
